div.col-xs-12.col-xs-offset-2.hidden-phone
  script.
    bb_bid = "1700642";
    bb_lang = "en-US";
    bb_name = "devfreecasts_footer";
    bb_limit = "8";
    bb_format = "bbb";
  script(src="http://static.boo-box.com/javascripts/embed.js")