script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2455578542304422" data-ad-slot="3138540654" data-ad-format="auto")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});